.vscode/
assets/
build/
coc-settings.json
**/*.log
.cache/
**/*.out
**/*.log
dumps/
commands/
logs/
*.txt
*.log
**/*.nsys-rep
**/*.sqlite
**/*.csv
scripts/
tests/
yolo_seg_application_config_test/
extras/
docs/codebase_mind_map.md